body {
    font-family: 'Roboto', sans-serif; /* Fonte para o corpo */
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    background-color: #007BFF; /* Alterado para azul */
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif; /* Fonte para o cabeçalho */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

main {
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border-left: 4px solid #007BFF; /* Alterado para azul */
    background-color: #f9f9f9;
}

h2 {
    color: #007BFF; /* Alterado para azul */
    margin-bottom: 10px;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

/* Pseudoelementos */
.first-letter::first-letter {
    font-size: 2em;
    font-weight: bold;
    color: #007BFF; /* Alterado para azul */
}

.first-line::first-line {
    font-weight: bold;
    color: #333;
}

/* Pseudoclasses */
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF; /* Alterado para azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Alterado para um azul mais escuro */
}

button:focus {
    outline: 3px solid #FFA500;
}

input:focus {
    outline: 2px solid #FFA500;
}

input:invalid {
    border-color: red;
}

input:in-range {
    border-color: green;
}

section:first-of-type {
    background-color: #e7f4e4;
}

section:last-of-type {
    background-color: #f4e7f4;
}

p:last-child {
    color: #777;
}

/* Navegação */
.navigation {
    text-align: center;
}

button:lang(pt-br) {
    font-weight: bold;
    font-style: italic;
}

/* Referências */
.references {
    list-style-type: none;
    padding: 0;
}

.references li {
    margin-bottom: 10px;
}

.references a {
    color: #007BFF; /* Alterado para azul */
    text-decoration: none;
}

.references a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
